__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.cover
*.log

.git/
.gitignore
.vscode/
.idea/
.hypothesis/
.mypy_cache/
.pytest_cache/

.env
*.env
secrets/
*.pem
*.key

k8s/
k8s/secret.yaml

*.md
*.rst

Dockerfile
docker-compose.yml
.dockerignore

models/
data/
datasets/
checkpoints/
outputs/

node_modules/
*.tsbuildinfo
dist/
build/

.huggingface/
opt/
opt/.cache/

__MACOSX
.DS_Store
Thumbs.db